<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing dev tool</h1>

  <%= render "form", dev_tool: @dev_tool %>

  <%= link_to "Show this dev tool", @dev_tool, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to dev tools", dev_tools_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
